@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    La información ingresada en la pagina requiere de autenticación <br />
</p>
<img src="~/css/pagina bloqueda.png" style="width:300px;height:300px;">
