@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   Para confirmar el registro <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haz click aquí.</a>
</p>
    }

}

