@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CLINICA_CRUD.Models.Enfermedad

@{
    ViewData["Title"] = "Detalles";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Detalles</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.enfermedad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.enfermedad)
            </dd>
        </dl>
    </div>
    <div>
        <a class="boton editar" style="margin:10px 10px 10px 0px" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index">Volver al listado</a>
    </div>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <h4>Por favor inicie sesión para acceder a este apartado</h4>
    <img src="~/css/pagina bloqueda.png" style="width:500px;height:400px;">
}