@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CLINICA_CRUD.Models.Cita

@{
    ViewData["Title"] = "Añadir cita";
}

@if (SignInManager.IsSignedIn(User))
{

    <h2>Añadir</h2>

    <h4>Cita</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdPacienteNavigation" class="control-label"></label>
                    @* <select asp-for="IdPacienteNavigation" class="form-control" asp-items="@(ViewData["IdPacienteNavigationId"] as SelectList)">
                        <option style="color:gray" value="">elige una opción</option>
                    </select> *@
                    <select asp-for="IdPacienteNavigation" class="form-control" asp-items="ViewBag.IdPacienteNavigation">
                        <option style="color:gray" value="">elige una opción</option>
                    </select>
                    <span asp-validation-for="IdPacienteNavigation.Id" class="text-danger"></span> 
                    @* 
                    <input asp-for="IdPaciente" class="form-control" />*@
                </div>
                <div class="form-group">
                    <label asp-for="Motivo" class="control-label"></label>
                    <input asp-for="Motivo" class="form-control" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" style="margin:10px 0px 10px 0px" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver al listado</a>
    </div>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <h4>Por favor inicie sesión para acceder a este apartado</h4>
    <img src="~/css/pagina bloqueda.png" style="width:400px;height:400px;">
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
