@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CLINICA_CRUD.Models.Cita

@{
    ViewData["Title"] = "Editar cita";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Editar</h1>

    <h4>Cita</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FKpacienteId" class="control-label"></label>
                    <input asp-for="FKpacienteId" class="form-control" />
                    <span asp-validation-for="FKpacienteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Motivo" class="control-label"></label>
                    <input asp-for="Motivo" class="form-control" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" style="margin:10px 0px 10px 0px" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver al listado</a>
    </div>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <h4>Por favor inicie sesión para acceder a este apartado</h4>
    <img src="~/css/pagina bloqueda.png" style="width:400px;height:400px;">
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
