@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CLINICA_CRUD.Models.RegistroMedico

@{
    ViewData["Title"] = "Registros Médicos";
}

@if (SignInManager.IsSignedIn(User))
{

    <h1>Crear</h1>

    <h4>RegistroMedico</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* <div class="form-group">
                    <label asp-for="IdPaciente" class="control-label"></label>
                    <input asp-for="IdPaciente" class="form-control" />
                    <span asp-validation-for="IdPaciente" class="text-danger"></span>
                </div> *@
                @* <div class="form-group">
                    <label asp-for="IdDiscapacidad" class="control-label"></label>
                    <input asp-for="IdDiscapacidad" class="form-control" />
                    <span asp-validation-for="IdDiscapacidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdAlergia" class="control-label"></label>
                    <input asp-for="IdAlergia" class="form-control" />
                    <span asp-validation-for="IdAlergia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdEnfermedad" class="control-label"></label>
                    <input asp-for="IdEnfermedad" class="form-control" />
                    <span asp-validation-for="IdEnfermedad" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="FKpacienteId" class="control-label"></label>
                    <select asp-for="FKpacienteId" class ="form-control" asp-items="ViewBag.FKpacienteId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FKalergiaId" class="control-label"></label>
                    <select asp-for="FKalergiaId" class ="form-control" asp-items="ViewBag.FKalergiaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FKdiscapacidadId" class="control-label"></label>
                    <select asp-for="FKdiscapacidadId" class ="form-control" asp-items="ViewBag.FKdiscapacidadId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FKenfermedadId" class="control-label"></label>
                    <select asp-for="FKenfermedadId" class ="form-control" asp-items="ViewBag.FKenfermedadId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Tratamiento" class="control-label"></label>
                    <input asp-for="Tratamiento" class="form-control" />
                    <span asp-validation-for="Tratamiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" style="margin:10px 0px 10px 0px;" />
                </div>
            </form>
        </div>
    </div>
    <h3>Añadir</h3>
    <div>
        <a class="boton new" asp-area="" asp-controller="Enfermedads" asp-action="Index">Enfermedad</a>
        <a class="boton new" asp-area="" asp-controller="Discapacidads" asp-action="Index">Discapacidades</a>
        <a class="boton new" asp-area="" asp-controller="Alergias" asp-action="Index">Alergias</a>
    </div>

    <div>
        <a asp-action="Index">Volver al listado</a>
    </div>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <p>Por favor inicie sesión para acceder a este apartado</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
