@model CLINICA_CRUD.Models.RegistroMedico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RegistroMedico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <input asp-for="IdPaciente" class="form-control" />
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDiscapacidad" class="control-label"></label>
                <input asp-for="IdDiscapacidad" class="form-control" />
                <span asp-validation-for="IdDiscapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAlergia" class="control-label"></label>
                <input asp-for="IdAlergia" class="form-control" />
                <span asp-validation-for="IdAlergia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEnfermedad" class="control-label"></label>
                <input asp-for="IdEnfermedad" class="form-control" />
                <span asp-validation-for="IdEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamiento" class="control-label"></label>
                <input asp-for="Tratamiento" class="form-control" />
                <span asp-validation-for="Tratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKpacienteId" class="control-label"></label>
                <select asp-for="FKpacienteId" class="form-control" asp-items="ViewBag.FKpacienteId"></select>
                <span asp-validation-for="FKpacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKalergiaId" class="control-label"></label>
                <select asp-for="FKalergiaId" class="form-control" asp-items="ViewBag.FKalergiaId"></select>
                <span asp-validation-for="FKalergiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKdiscapacidadId" class="control-label"></label>
                <select asp-for="FKdiscapacidadId" class="form-control" asp-items="ViewBag.FKdiscapacidadId"></select>
                <span asp-validation-for="FKdiscapacidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKenfermedadId" class="control-label"></label>
                <select asp-for="FKenfermedadId" class="form-control" asp-items="ViewBag.FKenfermedadId"></select>
                <span asp-validation-for="FKenfermedadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
